@import '~antd/dist/antd.css';

.App {
  text-align: center;
  min-width: 1016px;
}

.header {
  min-width: 1016px;
  color: #fff;
  font-weight: 700;
  background-color: #008aff;
}

.header h3 {
  color: #fff;
  font-weight: 600;
}

.ant-layout-sider {
  background-color: #fff;
}


